body {
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  margin: 0 auto; }

.min-height {
  min-height: 60px !important; }

.top-coins {
  border: 1px solid #d0d0d0; }
  .top-coins tbody tr td .coin {
    max-width: 72px !important; }
  .top-coins tbody tr td img {
    max-height: 35px !important; }
